<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentimental Analysis</title>
    <style>
    h1 {
  color: rgb(36, 33, 222);
  font-family: cursive;
 text-decoration: underline;
  font-size: 300%;
  margin: auto;
}

    </style>
</head>
<body style="background-color:rgb(240, 240, 240);">
    <center>
        <h1>BigMart Sales Prediction</h1> <br><br><br>
        <h1>The Sales Prediction is $ {{result}}</h1> <br><br><br><br>
</center>

</form>
</body>
</html>